/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}
button {
  border: unset;
  background: unset;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 37, 37);
}
#button {
  background-color: rgb(188, 227, 230);
  padding: 1rem;
  width: 10rem;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}
#button:hover {
  background-color: rgb(230, 230, 230);
}
